<div class="layout-widgets">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-3">
            <div class="overview-box card">
                <div class="overview-box-value">90</div>
                <div class="overview-box-title">TASKS</div>

                <img src="assets/layout/images/dashboard/graph-tasks.svg" alt="roma-layout" />
                <div class="overview-box-status">
                    +8.9% <i class="pi pi-chevron-circle-up"></i>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <div class="overview-box card">
                <div class="overview-box-value">1259</div>
                <div class="overview-box-title">PURCHASES</div>

                <img src="assets/layout/images/dashboard/graph-purchases.svg" alt="roma-layout" />
                <div class="overview-box-status">
                    +67.2% <i class="pi pi-chevron-circle-up"></i>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <div class="overview-box card">
                <div class="overview-box-value">21</div>
                <div class="overview-box-title">ISSUES</div>

                <img src="assets/layout/images/dashboard/graph-issues.svg" alt="roma-layout" />
                <div class="overview-box-status">
                    +3.0% <i class="pi pi-chevron-circle-up"></i>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <div class="overview-box card">
                <div class="overview-box-value">42</div>
                <div class="overview-box-title">MESSAGES</div>

                <img src="assets/layout/images/dashboard/graph-messages.svg" alt="roma-layout" />
                <div class="overview-box-status">
                    +12.5% <i class="pi pi-chevron-circle-up"></i>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <div class="overview-box bluebg card">
                <div class="overview-box-value">129</div>
                <div class="overview-box-title">TASKS</div>

                <img src="assets/layout/images/dashboard/graph-purchases-white.svg" alt="roma-layout" />
                <div class="overview-box-status">
                    +12.5% <i class="pi pi-chevron-circle-up"></i>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <div class="overview-box orangebg card">
                <div class="overview-box-value">29</div>
                <div class="overview-box-title">PURCHASES</div>

                <img src="assets/layout/images/dashboard/graph-purchases-white.svg" alt="roma-layout" />
                <div class="overview-box-status">
                    +12.5% <i class="pi pi-chevron-circle-up"></i>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <div class="overview-box purplebg card">
                <div class="overview-box-value">42</div>
                <div class="overview-box-title">ISSUES</div>

                <img src="assets/layout/images/dashboard/graph-purchases-white.svg" alt="roma-layout" />
                <div class="overview-box-status">
                    +12.5% <i class="pi pi-chevron-circle-up"></i>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <div class="overview-box limebg card">
                <div class="overview-box-value">22</div>
                <div class="overview-box-title">MESSAGES</div>

                <img src="assets/layout/images/dashboard/graph-purchases-white.svg" alt="roma-layout" />
                <div class="overview-box-status">
                    +12.5% <i class="pi pi-chevron-circle-up"></i>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-lg-4">
            <div class="timeline card card-w-title">
                <h5>Timeline</h5>
                <ul>
                    <li>
                        <i class="pi pi-image"></i>
                        <span class="timeline-event-title">Uploaded Images</span>
                        <span class="timeline-event-time">15m</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="p-grid">
                            <div class="p-col-6">
                                <img src="assets/layout/images/dashboard/image-1.jpg" alt="roma-layout" />
                            </div>
                            <div class="p-col-6">
                                <img src="assets/layout/images/dashboard/image-2.jpg" alt="roma-layout" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <i class="pi pi-heart"></i>
                        <span class="timeline-event-title">Favorites</span>
                        <span class="timeline-event-time">1h</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    </li>
                    <li>
                        <i class="pi pi-users"></i>
                        <span class="timeline-event-title">Meeting</span>
                        <span class="timeline-event-time">2h</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    </li>
                    <li>
                        <i class="pi pi-money-bill"></i>
                        <span class="timeline-event-title">Payment Received</span>
                        <span class="timeline-event-time">3h</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="p-col-12 p-xl-8">
            <div class="card card-w-title live-support">
                <h5>Live Support</h5>
                <ul>
                    <li class="message-from">
                        <div class="p-grid">
                            <div class="p-col-fixed">
                                <img src="assets/layout/images/avatar-2.png" alt="roma-layout" />
                            </div>
                            <div class="p-col">
                                <div class="chat-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Nam ac euismod justo, eget blandit purus.</div>
                            </div>
                        </div>
                    </li>
                    <li class="message-to">
                        <div class="p-grid">
                            <div class="p-col">
                                <div class="chat-message">Mauris malesuada quis risus ut consequat.
                                    Maecenas ornare nunc risus, pulvinar euismod mi pellentesque eget.</div>
                            </div>
                            <div class="p-col-fixed">
                                <img src="assets/layout/images/avatar-1.png" alt="roma-layout" />
                            </div>
                        </div>
                    </li>
                    <li class="message-from">
                        <div class="p-grid">
                            <div class="p-col-fixed">
                                <img src="assets/layout/images/avatar-2.png" alt="roma-layout" />
                            </div>
                            <div class="p-col">
                                <div class="chat-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Nam ac euismod justo, eget blandit purus.</div>
                            </div>
                        </div>
                    </li>
                    <li class="message-to">
                        <div class="p-grid">
                            <div class="p-col">
                                <div class="chat-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                            </div>
                            <div class="p-col-fixed">
                                <img src="assets/layout/images/avatar-1.png" alt="roma-layout" />
                            </div>
                        </div>
                    </li>
                    <li class="message-to">
                        <div class="p-grid">
                            <div class="p-col">
                                <div class="chat-message">Mauris malesuada quis risus ut consequat.
                                    Maecenas ornare nunc risus, pulvinar euismod mi pellentesque eget.</div>
                            </div>
                            <div class="p-col-fixed">
                                <img src="assets/layout/images/avatar-1.png" alt="roma-layout" />
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="new-message">
                    <div class="p-grid p-nogutter">
                        <div class="p-col">
                            <input id="input" type="text" pInputText placeholder="Write a message..">
                        </div>
                        <div class="p-col-fixed">
                            <button pButton type="button" label="Send"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-xl-4">
            <div class="card card-w-title resolution-center p-fluid">
                <h5>Resolution Center</h5>

                <input id="username" type="text" pInputText placeholder="Username">

                <input id="email" type="text" pInputText placeholder="Email">

                <textarea rows="5" pInputTextarea placeholder="Message"></textarea>

                <div class="resolution-button-bar">
                    <button pButton type="button" label="Send" icon="pi pi-envelope" ></button>
                    <button pButton type="button" label="Save" icon="pi pi-plus" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-xl-4">
            <div class="card card-w-title team">
                <h5>Team</h5>
                <ul>
                    <li>
                        <img src="assets/layout/images/avatar-1.png" alt="roma-layout" />
                        <div class="team-box">
                            <span class="team-member">John Swisher Welch</span>
                            <span class="team-member-account">@jswisher</span>
                        </div>
                        <a href="#">
                            <i class="pi pi-github"></i>
                        </a>
                        <a href="#">
                            <i class="pi pi-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="pi pi-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <img src="assets/layout/images/avatar-2.png" alt="roma-layout" />
                        <div class="team-box">
                            <span class="team-member">Bernd Pfefferberg</span>
                            <span class="team-member-account">@pfefferberg</span>
                        </div>
                        <a href="#">
                            <i class="pi pi-github"></i>
                        </a>
                        <a href="#">
                            <i class="pi pi-twitter"></i>
                        </a><a href="#">
                        <i class="pi pi-facebook"></i>
                    </a>
                    </li>
                    <li>
                        <img src="assets/layout/images/avatar-3.png" alt="roma-layout" />
                        <div class="team-box">
                            <span class="team-member">Chinaza Akachi</span>
                            <span class="team-member-account">@chinazzza_</span>
                        </div>
                        <a href="#">
                            <i class="pi pi-github"></i>
                        </a>
                        <a href="#">
                            <i class="pi pi-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="pi pi-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <img src="assets/layout/images/avatar-4.png" alt="roma-layout" />
                        <div class="team-box">
                            <span class="team-member">Luka Miller</span>
                            <span class="team-member-account">@luk4mr</span>
                        </div>
                        <a href="#">
                            <i class="pi pi-github"></i>
                        </a>
                        <a href="#">
                            <i class="pi pi-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="pi pi-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <img src="assets/layout/images/avatar-5.png" alt="roma-layout" />
                        <div class="team-box">
                            <span class="team-member">Maria Illescas</span>
                            <span class="team-member-account">@casilledelamaria</span>
                        </div>
                        <a href="#">
                            <i class="pi pi-github"></i>
                        </a>
                        <a href="#">
                            <i class="pi pi-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="pi pi-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="p-col-12 p-xl-4">
            <div class="card user-card">
                <div class="user-card-header">
                    <img src="assets/layout/images/dashboard/bg-header.png" library="roma-layout"/>
                </div>
                <div class="user-card-content">
                    <img src="assets/layout/images/avatar.png" library="roma-layout"/>
                    <button pButton type="button" icon="pi pi-cog" ></button>

                    <div class="user-card-name">
                        <span>Maria Llescas</span>
                    </div>

                    <div class="user-detail">
                        <div class="p-grid">
                            <div class="p-col-4">
                                <div class="user-detail-box">
                                    <div class="user-detail-box-name">Tasks</div>
                                    <div class="user-detail-box-detail">3 open</div>
                                    <i class="pi pi-list"></i>
                                    <p-progressBar [value]="60"></p-progressBar>
                                </div>
                            </div>
                            <div class="p-col-4">
                                <div class="user-detail-box">
                                    <div class="user-detail-box-name">Revenue</div>
                                    <div class="user-detail-box-detail">+20%</div>
                                    <i class="pi pi-dollar"></i>
                                    <p-progressBar [value]="80"></p-progressBar>
                                </div>
                            </div>
                            <div class="p-col-4">
                                <div class="user-detail-box">
                                    <div class="user-detail-box-name">Payments</div>
                                    <div class="user-detail-box-detail">24 New</div>
                                    <i class="pi pi-money-bill"></i>
                                    <p-progressBar [value]="60"></p-progressBar>
                                </div>
                            </div>
                            <div class="p-col-4">
                                <div class="user-detail-box">
                                    <div class="user-detail-box-name">Clients</div>
                                    <div class="user-detail-box-detail">+80%</div>
                                    <i class="pi pi-users"></i>
                                    <p-progressBar [value]="50"></p-progressBar>
                                </div>
                            </div>
                            <div class="p-col-4">
                                <div class="user-detail-box">
                                    <div class="user-detail-box-name">Sales</div>
                                    <div class="user-detail-box-detail">3 open</div>
                                    <i class="pi pi-money-bill"></i>
                                    <p-progressBar [value]="60"></p-progressBar>
                                </div>
                            </div>
                            <div class="p-col-4">
                                <div class="user-detail-box">
                                    <div class="user-detail-box-name">Tasks</div>
                                    <div class="user-detail-box-detail">3 open</div>
                                    <i class="pi pi-chart-bar"></i>
                                    <p-progressBar [value]="60"></p-progressBar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
